body {
  font-family: 'Poppins Regular', sans-serif;
  color: #fff;
  background: $color-secondary url('../../images/background.svg') no-repeat;
  background-position: bottom right;
  background-size: contain;
}

.container {
  margin-left: 125px;
}
