.category {
  display: flex;
  position: absolute;
  width: 238px;
  height: 77px;
  top: 306px;
  left: 116px;
  align-items: center;
  font-family: "Poppins Semibold";
  font-size: 18px;
  background: #12122D;
  border: 1px solid #20203F;
  z-index: -2;
  border-radius: 20px;

  .image {
    margin: 0 30px 0 21px;

    img {
      max-width: 100%;
      max-height: 100%;
      display: block;
    }
  }
}



