$checkbox-button-margin: 20px;

.checkbox-button {
  width: calc(50% - ($checkbox-button-margin * 2));
  min-width: calc(50% - ($checkbox-button-margin * 2));
  margin: 0 $checkbox-button-margin 30px;

  input {
    display: none;
  }

  label {
    display: flex;
    height: 77px;
    align-items: center;
    font-family: "Poppins Semibold";
    font-size: 18px;
    background: $color-dark;
    border: 1px solid $color-border;
    border-radius: 20px;
    cursor: pointer;
    transition: ease-in 0.15s;

    &:hover,
    &:active,
    &:focus {
      border-color: $color-primary;
    }

    img {
      padding: 7px 0 7px 30px;
      margin-right: 17px;
      width: 50px;
      height: 50px;
      display: block;
    }
  }

  input:checked + label {
    background: $color-light;
    border-color: $color-primary;
  }
}
