.submit-button {
  margin-top: 60px;
  margin-left: auto;
  background: $color-primary;
  padding: 20px 50px;
  color: #fff;
  font-family: 'Poppins SemiBold';
  font-size: 18px;
  border: none;
  border-radius: 20px;
}
