.results-group {
  display: flex;
  flex-direction: column;
  margin: 0 329px 76px 217px;

  img {
    margin-bottom: 42px;
    margin-left: 23px;
    align-self: baseline;
  }

  span {
    margin: 0;
    font-family: "Poppins Bold";
    font-size: 38px;
    text-transform: uppercase;
  }
}

.results-group__pick {
  display: flex;
  flex-direction: column;
}

.results-buttons {
  .button:first-of-type {
    margin: 40px 21px 0 71px;
  }
}
